node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.vscode
.idea
coverage
*.log
logs
dist
# src
*.ts
*.tsx
*.map
# tsconfig.json
.prettierrc
.prettierignore